<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @item) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="mb-3">
          <%= f.label :menu, 'Menu' %>
          <%= f.text_area :menu, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :category, 'Category' %>
          <%= f.text_area :category, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :comment, 'Comment' %>
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :image, 'Image' %>
          <%= f.text_area :image, class: 'form-control' %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary w-100' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'items/items', items: @items %>
    </div>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the Food List</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>