<% if items.any? %>
  <div class="card-deck">
    <% items.each do |item| %>
    <div class="card mb-4">
      <div class="card-header">
        Menu: <%= link_to item.menu, item_path(item) %>
      </div>
      <div class="container m-2">
        <% if item.image.present? %>
        <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <%= image_tag item.image.url, alt: item.menu, class: "img-fluid" %>
        </div>
        <% else %>
        <div class="col-sm-2 offset-sm-5">
          <%= image_tag '/mark_batsu.png', alt: "画像がありません", class: "img-fluid" %>
        </div>
        </div>
        <% end %>
        <div class="m-2">
        投稿者:<%= link_to item.user.name, user_path(item.user), class: "text-decoration-none" %>
        <span class="text-muted">posted at <%= item.created_at %></span>
        </div>
        <div class="m-2">
          <% if current_user == item.user %>
            <%= link_to "Delete", item, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
<% elsif current_user == @user %>
  <h2>最初の投稿をしましょう！</h2>
<% else %>
  <h2>投稿はまだありません</h2>
<% end %>