<% if items.any? %>
  <ul class="list-unstyled mt-2">
    <% items.each do |item| %>
      <li class="d-flex">
        <div>
          <div>
            <%= link_to item.user.name, user_path(item.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= item.created_at %></span>
          </div>
          <div>
            <p>Menu: <%= item.menu %></p>
            <p>Category: <%= item.category %></p>
            <p>Comment: <%= item.comment %></p>
            <p>Image: <%= item.image %></p>
          </div>
          <div>
            <% if current_user == item.user %>
              <%= link_to "Delete", item, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>