  <div class="container">
    <div class="row">
      <div class="col">
        <p>
        <% if @item.image.present? %>
          <%= image_tag @item.image.url %>
        <% else %>
          <%= image_tag '/mark_batsu.png' %>
        <% end %>
        </p>

      </div>
      <div class="col d-flex align-items-center">
        <table class="table">
        <tr>
          <td>投稿日時:</td>
          <td><%= @item.created_at.strftime("%Y年%m月%d日 %H:%M %Z") %></td>
        </tr>
        <tr>
          <td>Menu:</td>
          <td><%= @item.menu %></td>
        </tr>
        <tr>
          <td>カテゴリ:</td>
          <td><%= @item.category %></td>
        </tr>
        <tr>
          <td>投稿者:</td>
          <td><%= @item.user.name %></td>
        </tr>
        <tr>
          <td>コメント:</td>
          <td><%= @item.comment %></td>
        </tr>
        </table>
    　 </div>
        <% if current_user == @item.user %>
          <%= link_to "Delete", @item, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
  　 </div>
  </div>


